table.dataGrid
{
	margin-top:3px;
	border-collapse: collapse;
}

table.dataGrid td{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px #CCC solid;
	padding: 0.3em;
	vertical-align:middle;	
	height: 18px;
}

table.dataGrid th
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#3F3F3F;
	border: 1px #CCC solid;
	padding:2px;
	vertical-align:middle;
	text-align: center;
	background-image:url(../img/background/fundoTabela2.png);
	background-color:#B4B4B4;
}
