table.dataGrid
{
	margin-top:3px;
	border-collapse: collapse;
}

table.dataGrid td{
	font-size: 11px;
	/*background-color:#F0EFEF;*/
	border: 0px #CCC solid;
	padding: 0.1em;
	vertical-align:middle;	
	height: 22px;
}

#inserir{
	padding:4px 8px;
	font-weight:bold;	
}

#inserirTodos{
	padding:4px 8px;
	margin:16px 0 0 0;
	font-weight:bold;	
}


#tabelaItens
{
	margin-top:3px;
	border-collapse: collapse;
	border: solid 1px #CCC;
}

#tabelaItens th
{
	font-size: 12px;
	color:#3F3F3F;
	border: 1px #A8A8A8 solid;
	padding:5px;
	vertical-align:middle;
	text-align: center;
	background-color:#B4B4B4;
	background-image:url(../img/background/fundoTabela2.png);
}

#tabelaItens td{
	font-size: 11px;
	/*background-color:#F0F0F0;*/
	border: 1px #CCC solid;
	padding: 0.3em;
	vertical-align:middle;	
	height: 22px;
}

#botoes{
	float:right;
	padding-top:5px;	
}

#excluirMaster{
	cursor:pointer;	
}



div.simpleTabs { padding:10px; }
ul.simpleTabsNavigation { 
	margin:0; 
	padding:1px; 
	text-align:left; 
	border-bottom: 1px solid #4F81BD;
    font: bold 12px Verdana, sans-serif;
}
ul.simpleTabsNavigation li { 
	list-style:none; 
	display:inline; 
	margin:0; padding:0; 
	padding: 1px 0;
    margin: 0;
    border-bottom: 1px solid #4F81BD;
    font: bold 12px Verdana, sans-serif;
}
ul.simpleTabsNavigation li a { 
	font-size:12px; 
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
    padding: 2px 0.5em;
    margin: 0 0 0 3px;
    border: 1px solid #4F81BD;
    border-bottom: none;
    background: #d3dfee;
    text-decoration: none;
	color:#333;
}
ul.simpleTabsNavigation li a:hover { 
	text-decoration:none; 
	color: #000;
    background: #E6F2FF;
    border-color: #227;
}
ul.simpleTabsNavigation li a.current { background:#fff; color:#222; border-bottom:1px solid #fff; }
div.simpleTabsContent { 
	display:none; 
	border-left: 1px solid #4F81BD;
    border-right: 1px solid #4F81BD;
    border-bottom: 1px solid #4F81BD;
    padding: 8px;
    margin: 0;
}
div.simpleTabsContent.currentTab { display:block; }

#botoesInferiores{
	padding-top:15px;	
}

#botoesInferiores .finalizar{
	padding: 0 0 0 10px;
	float:right;
	cursor:pointer;	
}

#botoesInferiores .voltar{
	float:left;
}

.fundoForm{
	display: none;
	height:120px;
	position: absolute;
	padding-top:80px;
	text-align: center;
	text-decoration: none;
	width: 900px;
}