#personal ignore
*.mno
#templates_c/*
!templates_c/.gitignore

#/arquivo/*
!arquivo/.gitignore

/cache/*
!cache/index.html
!cache/.htaccess

/logs/*
!logs/index.html
!logs/.htaccess

# Linux
*~

# SublimeText
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
# workspace files are user-specific
*.sublime-workspace
# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project
# sftp configuration file
sftp-config.json

# sublime text project files
.phpintel

# phpstorm project files
.idea

# zend studio for eclipse project files
.buildpath
.project
.settings

# netbeans project files
nbproject

# Dreamweaver
# DW Dreamweaver added files
_notes
dwsync.xml

# windows thumbnail cache
Thumbs.db

# MicrosoftOffice
*.tmp
~*

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
